/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
      }
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
      }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #b3c9da;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background-color: #62717c;
        color: #001e33;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    /* footer */
    .small-50 {
      width: 50%;  
    }
    .footer-col:nth-child(2) {
      border: none;
    }
}

/* footer */
@media (max-width: 300px) {
    .tiny-100 {
      width: 100%;
    }
    .footer-col { 
      border: none;
    }
  }
