/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
      }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
      }

    header{
        padding: 10px 20px;
        flex-direction: column;
    }
    
    /* footer */
    .small-50 {
      width: 50%;  
    }
    .footer-col:nth-child(2) {
      border: none;
    }
}

/* footer */
@media (max-width: 300px) {
    .tiny-100 {
      width: 100%;
    }
    .footer-col { 
      border: none;
    }
  }
