/* < Css Bagian Body >*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
  background: rgb(181, 114, 114);
  margin: 0;
  font-family: "Lucida Grande";
}

.lesson-wrapper {
  padding-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

.lesson {
  float: left;
  width: 25%;
  position: relative;
  font-weight: 500;
  font-size: 3.3em;
}

.lesson .text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 30px;
  color: #871247;
}

@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 670px) {
  .lesson {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}

/* < Css Bagian Header > */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron img{
    top: 0%;
    left: 0;
    width: 100%;
    height: 675px;
    margin: auto;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background-color: #f0c362;
    color: #6432096e;
}


header .logo {
    position: relative;
    font-size: 2.5em;
    /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
    padding:15px 100px;
    color: #6432096e;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}

header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header nav ul li {
    list-style: none;
    margin: 0 10px;
}

header nav ul li a{
    color: #6432096e;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 25px;
    border: 1px solid #6432096e transparent;
    transition: 0.6s ease;
    border-radius: 10px;
    font-family: monospace;
    padding: 10px 25px;
}

header nav ul li a:hover{
    background-color: rgb(247, 177, 86);
    color: #6432096e;
}

/* < Css Bagian Main >*/

/* < Css Bagian Footer >*/
footer{
    position: absolute;
    left: 0;
    right: 0;
    background: #001e33;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size : 17px;
    font-family: Segoe Script;
}

footer img{
   height: 50px;
   width: 100px;
 }
 
 footer p, a{
     color: #b3aeb5;
     font-size: 11px;
     font-family: Century Gothic;
 }
